[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Tim Van Eerdewegh
	email = tim.vaneerdewegh@uantwerpen.be
[pull]
	rebase = true
[core]
	editor = nvim
